<h1>{{firstName}} {{lastName}}</h1>
<p><strong>Phone number:</strong> {{phoneNumber}}</p>

<a href="#contacts/{{id}}/edit" class="btn btn-small js-edit">
    <i class="icon-pencil"></i>
    Edit this contact
</a>
